@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Tales Gomes</h2>
    <address>
        <p>
            You can talked to me here: 
            <strong>tales.santos.gomes@outlook.com</strong>
        </p>
    </address>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
